{% extends './base.html' %}

{% block title %}
Lista de tarefas
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Lista de tarefas</h1>

    <form method="post" action="{% url 'store' %}" style="display: inline;">
        {% csrf_token %}
        <input type="text" name="todo_name" placeholder="Nova tarefa" required>
        <button type="submit">Adicionar</button>
    </form>

    <ul>
        {% for todo in todos %}
        <li>
            {{ todo.name }}
            <a href="{% url 'show' todo.id %}"><button type="button">Abrir</button></a>
                <form method="post" action="{% url 'destroy' todo.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Excluir</button>
                </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}