  <div class="container-fluid">  
    <h1>{{ name }}</h1>
    <a href="{% url 'index' %}"><button type="submit">Voltar</button></a
    ><br /><br />

    <form method="post" action="{% url 'store-item' todo_id %}">
      {% csrf_token %}
      <input type="text" name="text" placeholder="Novo item" required />
      <button type="submit">Adicionar</button>
    </form>

    <ul>
      {% for item in items %}
      <li>
        {{ item.text }}
        <form action="{% url 'put-item' item.id %}" method="post" style="display: inline;">
          {% csrf_token %} {% if item.complete %}
          <button type="submit">Concluida</button>
          {% else %}
          <button type="submit">Pendente</button>
          {% endif %}
        </form>
        <form method="post" action="{% url 'destroy-item' item.todo.id item.id %}" style="display: inline;">
          {% csrf_token %}
          <button type="submit">Excluir</button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>