<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar semanais</title>
</head>
<body>
    <h1>Lista de tarefas</h1>
    <p><button>Voltar</button></p>
    <input type="text" placeholder="Novo item" class="entrada">
    <button type="submit">Adicionar</button>
    <ul>
        {% for item in items %}
        <li>
            {{ item.text }}
            <button type="button">Concluida</button>
            <button type="submit">Excluir</button>
        </li>
        {% endfor %}
    </ul>
</body>
</html>